* {
  margin: 0;
  padding: 0;
}

body {
  background: tomato;
  height: 5000px;
}

.btnWrap {
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  position: fixed;
  right: 50px;
  top: 50px;
  cursor: pointer;
}

.btnWrap .btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 200px;
  height: 200px;
  outline: 10px solid #333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btnWrap .btnContent {
  left: 25px;
  position: absolute;
  display: inline-block;
  width: 150px;
  height: 10px;
  background: #333;
}

.btnWrap .btnContent:nth-child(2) {
  top: 60px;
}

.btnWrap .btnContent:nth-child(3) {
  top: 100px;
}

.btnWrap .btnContent:nth-child(4) {
  top: 140px;
}
